.container {
    padding: 50px;
    display: flex;
}

.item {
    flex: 1;
}

.table {
    width: 100%;
    border-spacing: 20px;
    text-align: left;
}

.button {
    border: none;
    color: white;
    padding: 3px;
    cursor: pointer;
}

.button:first-child {
    background-color: #38a169;
    margin-right: 10px;
}

.button:last-child {
    background-color: crimson;
}